[Unit]
Description="Distributed Lllama Worker"
After=network.target

[Service]
WorkingDirectory={{ working_dir }}/distributed-llama
ExecStart={{ dllama_worker_start_command }}
User={{ dllama_user }}
Group={{ dllama_user }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
